@{
    var year = DateTime.Now.ToString("yyyy");
}
﻿<footer class="main-footer d-none d-sm-block">
    <div class="float-right">
        <strong><a href="https://iongroup.com/">ION Group</a></strong> All rights reserved
    </div>
    <strong>Copyright &copy; @year</strong>
</footer>
