<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" id="pushmenu">
    <a href="/" class="brand-link">
        <img src="/images/planning.png" alt="task" class="brand-image"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Task Manager</span>
    </a>

    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <button type="button" id="createProjectButton" class="btn btn-block text-left btn-primary">
                <i class="bi bi-plus-lg mr-2"></i>
                Create project
            </button>
        </div>
        <div class="form-inline mt-2">
            <div class="input-group" data-widget="sidebar-search">
                <input id="projectsInput" class="form-control form-control-sidebar z" type="search" placeholder="Search projects" aria-label="Search">
                <div class="input-group-append">
                    <button id="filterProjects" class="btn btn-sidebar">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <nav class="mt-2" style="height: 800px">
            <ul id="projectItem" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            </ul>
        </nav>
    </div>
</aside>