@{
    ViewData["Title"] = "Users";
}

<div class="card shadow">
    <div class="card-header">
        @ViewData["Title"]

    </div>
    <div class="card-body">
        <a asp-controller="User" asp-action="Create" class="btn btn-primary float-end" tabindex="-1" role="button" aria-disabled="true">Create user</a>
        <br>
        <br>
        <table id="userTable" class="mt-2 display" style="width:100%">
        </table>
    </div>
</div>
@section scripts{
    <link rel="stylesheet" href="~/DataTables/datatables.min.css" />
    <script type="text/javascript" src="~/DataTables/datatables.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
<script>
    $(document).ready(function () {
            var table = $('#userTable').DataTable({
                processing: true,
                serverSide: true,
                "ajax": {
                    url: "User/GetAllUsers",
                    type: "POST",
                    dataSrc: ''
                },
            "columns": [
                { "data": "id", title: "Id", name : "id" },
                { "data": "userName", title: "UserName", name: "userName" },
                { "data": "firstName", title: "FirstName", name: "firstName" },
                { "data": "lastName", title: "LastName", name: "lastName" },
                { "data": "email", title: "Email", name: "email" },
                { "data": "isEnabled", title: "IsEnabled", name: "isEnabled" },
                { "data": "role", title: "Role", name: "role" }
            ]
        });
            $.contextMenu({
                selector: 'tr',
                trigger: 'right',
                callback: function (key, options) {
                    var row = table.row(options.$trigger)
                    switch (key) {
                        case 'edit':
                            window.location.href = "/User/EditUser?userId=" + row.data()["id"];
                            break;
                        default:
                            break
                    }
                },
                items: {
                    "edit": { name: "Edit", icon: "edit" }
                }
            })
    });
</script>
}
