@{
    ViewData["Title"] = "Users";
}

<div class="card shadow">
    <div class="card-header">
        @ViewData["Title"]
        <button id="addBtn" class="btn btn-sm btn-success mr-2 float-right"><i class="fas fa-plus-circle mr-1"></i>Add</button>
    </div>
    <div class="card-body">
        <table id="usersTable" class="display table table-striped table-bordered" style="width:100%"></table>
    </div>
</div>
