@{
    Layout = null;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Users</h3>
                    <a onclick="gotToUserCreate()" class="btn btn-primary d-table ml-auto" tabindex="-1" role="button" aria-disabled="true">
                        <i class="bi bi-person-fill-add mr-1"></i>
                        Create user
                    </a>
                </div>
                <div class="card-body">
                    <table id="userTable" class="table table-bordered table-hover w-100 mb-2">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
