@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_TaskLayout.cshtml";
}
@model ProjectManager.Application.Projects.Queries.CreateProject.CreateProjectQuery;
@section scripts
    {
    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<div class="container">
    <form class="bg-white" asp-controller="TaskManager" asp-action="CreateProjectPost" asp-antiforgery="true" method="post">
        @if (ViewBag.Error != null)
        {
            @foreach (var error in ViewBag.Error)
            {
                <p class="text-danger">@error</p>
            }

        }
        <div class="mb-3">
            <label  class=" form-label">Name</label>
            <input class=" form-control" type="text" asp-for="Name">
            <span class="text-danger" asp-validation-for="Name"></span>
            <br>
        </div>

        <div class="mb-3">
            <label class=" form-label">Description</label>
            <input class=" form-control" type="text" asp-for="Description">
            <span class="text-danger" asp-validation-for="Description"></span>
            <br>
        </div>

        <button type="submit" class="btn btn-lg btn-success btn-block mt-3">Create <i class="fas fa-sign-in-alt"></i></button>
    </form>
</div>
