@{
    Layout = null;
}
@model ProjectManager.Application.Projects.Queries.CreateProject.CreateProjectQuery;

<div class="container">
    <form class="bg-white" id="createProjectForm" asp-controller="TaskManager" asp-action="CreateProjectPost" asp-antiforgery="true" method="post">
        @if (ViewBag.Error != null)
        {
            @foreach (var error in ViewBag.Error)
            {
                <p class="text-danger">@error</p>
            }

        }
        <div class="mb-3">
            <label  class=" form-label">Name</label>
            <input class=" form-control" type="text" asp-for="Name">
            <span class="text-danger" asp-validation-for="Name"></span>
            <br>
        </div>

        <div class="mb-3">
            <label class=" form-label">Description</label>
            @Html.TextArea("Description", "", new { @class = "form-control", rows = "5"})
            <span class="text-danger" asp-validation-for="Description"></span>
            <br>
        </div>

        
    </form>
    <button onclick="createProject()" class="btn btn-lg btn-success btn-block mt-3">Create <i class="fas fa-sign-in-alt"></i></button>
</div>
