@{
    Layout = null;
}
@using ProjectManager.Application.Projects.Commands.ModifyProject;
@model ModifyProjectCommand;
@if (ViewBag.SelectedProject != null)
{
    <div class="container">
        <div class="card shadow">
            <div class="card-header">
                Tasks
            </div>
            <div class="card-body">
                <div class="d-flex justify-content float-end">
                    <a onClick="goToUsersofProject(@ViewBag.ProjectId)" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">See users</a>
                    <a onClick="goToCreateTask(@ViewBag.ProjectId)" class="btn btn-primary ms-1" tabindex="-1" role="button" aria-disabled="true">Create Task</a>
                </div>
                <br>
                <br>
                <table id="example" class="mt-2 display" style="width:100%">
                </table>
            </div>
        </div>
    </div>
}