@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_TaskLayout.cshtml";
}
@section scripts
    {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                "ajax": {
                    url: "TaskManager/ReturnData?projectId=@ViewBag.ProjectId",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataSrc: ''
                },
                "columns": [
                    { "data": "id", title: "Id" },
                    { "data": "name", title: "Name" },
                    { "data": "description", title: "Description" },
                    { "data": "taskType", title: "TaskType" }
                ]
            });
            $.contextMenu({
                selector: 'tr',
                trigger: 'right',
                callback: function (key, options) {
                    var row = table.row(options.$trigger)
                    switch (key) {
                        case 'edit':
                            window.location.href = "/TaskManager/editTask?taskId=" + row.data()["id"];
                            break;
                        case 'delete':
                            myFunction(row.data()["id"]);
                            break;
                        default:
                            break
                    }
                },
                items: {
                    "edit": { name: "Edit", icon: "edit" },
                    "delete": { name: "Delete", icon: "delete" },
                }
            })
        });

        function myFunction(taskId) {
            $.ajax({
                url: "TaskManager/DeleteTask?taskId=" + taskId,
                type: "DELETE",
                success: function (result) {
                    location.reload();
                }
            });
        }
    </script>
}
<a asp-controller="TaskManager" asp-action="CreateTask" asp-route-projectId="@ViewBag.ProjectId" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Create Task</a>
<br>
<br>
<table id="example" class="mt-2 display" style="width:100%">
    
</table>