@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<div class="container">
    <div class="card shadow">
        <div class="card-header">
            Users
        </div>
        <div class="card-body">
            <div class="d-flex justify-content float-end">
                <a onClick="goToProject(@ViewBag.ProjectId)" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">See tasks</a>
            </div>
            <br>
            <br>
            <table id="projectUserTable" class="mt-2 display" style="width:100%">
            </table>
        </div>
    </div>
    <br />
    <br />
    <div class="mb-3">
        <label class="form-label">Users</label>
        <div class="">
            @foreach (var user in ViewBag.SelectedProject.Users)
            {
                <div class="card m-1" style="display:inline-block;">
                    <div class="card-body">
                        <p class="h5 card-title">User name : @user.Item2</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

