@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="h-100 col-2 ms-1 border-end border-1 pe-0">
    <ul class="list-group h-100">
        @foreach (var project in ViewBag.Projects)
        {
            <li class="list-group-item border-top-0">
                <div class="row">
                    <a class="nav-link text-dark col" onClick="goToProject(@project.Id)">@project.Name</a>
                    <div class="col pt-2 d-flex justify-content-end">
                        <div style="height:30px; width:30px;" onClick="goToEditProject(@project.Id)" class="border ms-1 border-3 border-primary rounded-circle d-flex justify-content-center align-items-center">
                            <span class="text-primary fw-bold fs-4">i</span>
                        </div>
                        <div style="height:30px; width:30px;" onclick="goToprojectDetails(@project.Id)" class="border ms-1 border-3 border-success rounded-circle d-flex justify-content-center align-items-center">
                            <span class="text-success fw-bold fs-4">E</span>
                        </div>
                    </div>
                </div>
             </li>
        }
        <li class="nav-item list-group-item border-top-0"><a class="nav-link text-dark" onclick="goToTaskManagerCreateProject()">Add project</a></li>
    </ul>
</div>
