@model ProjectManager.Application.Users.Queries.GetUserByUserName.UserVm
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="text-center container-sm mt-4 pt-5" style="max-width:700px">
    <form class="login-form bg-white" asp-controller="Account" asp-action="Login" asp-antiforgery="true" method="post">
        <h1 class="mb-4">ProjectManager</h1>
        <h1 class="h3 mb-3 font-weight-normal">Authentication</h1>
        <br>
        <div class="row">
            <div class="col-3">
                <label asp-for="UserName" class="col-form-label text-right"></label>
            </div>
            <div class="col-8">
                <input asp-for="UserName" class="form-control" placeholder="Login" required autofocus />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3">
                <label asp-for="Password" class="col-form-label text-right"></label>
            </div>
            <div class="col-8">
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <button type="submit" class="btn btn-lg btn-success btn-block mt-3">Login <i class="fas fa-sign-in-alt"></i></button>
    </form>
</div>
