@model ProjectManager.Application.Users.Queries.GetUserByUserName.UserVm
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section class="text-center d-flex flex-column justify-center items-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="background: rgb(45,42,101);background: linear-gradient(166deg, rgba(45,42,101,1) 0%, rgba(59,40,106,1) 22%, rgba(134,99,193,1) 81%);
        height: 300px;
        "></div>
    <!-- Background image -->

    <div class="card shadow-5-strong col-sm-5 mx-auto" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.7);
        backdrop-filter: blur(30px);">
        <div class="card-body py-5 px-md-2">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <img src="/images/planning.png" alt="task" class="brand-image"
                         style="opacity: .8; height:100px; width: 100px;">
                    <h2 class="fw-bold mb-5">Sign in</h2>
                    <form class="login-form d-flex flex-column justify-content-center" asp-controller="Account" asp-action="Login" asp-antiforgery="true" method="post">
                        <div class="row d-flex flex-nowrap mb-2">
                            <div class="col col-sm-3 d-flex align-items-center">
                                <label class="form-label" asp-for="UserName">Username</label>
                            </div>
                            <div class="col form-outline col-sm-9">
                                <input type="input" asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                       
                        <div class="row d-flex flex-nowrap mb-4">
                            <div class="col col-sm-3 d-flex align-items-center">
                                <label class="form-label" asp-for="Password">Password</label>
                            </div>
                            <div class="col form-outline col-sm-9">
                                <input asp-for="Password" type="password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mb-4 col-sm-12 text-center mx-auto">
                            Sign in
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
