@{
    Layout = null;
}
<div class="card p-3 px-4 m-2 d-inline-block align-top border border-3 rounded shadow" style="width:350px">
    <div class="card-body">
        <h5 class="card-title text-decoration-underline">Projects:</h5>
        @if (ViewBag.AllProjects != null)
        {
            @foreach (var project in ViewBag.AllProjects)
            {
                <p onClick="goToProjectFromDashboard(@project.Id)" class="w-100">@project.Name<span style="float:right;">@project.State</span></p>
            }
        }
        else
        {
            <p class="h6">No projects to show</p>
        }
    </div>
</div>
