@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<div class="card p-3 px-4 m-2 d-inline-block align-top border border-3 rounded shadow">
    <div class="card-body">
        <h5 class="card-title text-decoration-underline">Pending tasks:</h5>
        @if (ViewBag.TasksPending != null)
        {
            @foreach (var task in ViewBag.TasksPending)
            {
                <p class="">@task.Name</p>
            }
        }
        else
        {
            <p class="h6">No pending tasks</p>
        }
    </div>
</div>
