@{
    Layout = null;
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Pending tasks</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
        </div>
    </div>
    @if (ViewBag.TasksUpcomming != null && ViewBag.TasksUpcomming.Count > 0)
    {
        @foreach (var task in ViewBag.TasksUpcomming)
        {
            <div class="card-body">
                <p onclick="goToTaskFromDashboard(@task.Id)" class="">@task.Name</p>
            </div>
        }
    }
    else
    {
        <div class="card-body">
            <p>Nothing to display</p>
        </div>
    }
</div>